apiVersion: apps/v1
kind: Deployment
metadata:
  name: helloapp
spec:
  replicas: 4
  selector:
    matchLabels:
      app: helloapp
  template:
    metadata:
      labels:
        app: helloapp
    spec:
       containers:
        - name: helloapp
          image: shadymo/shadymh10:latest
          ports:
            - containerPort: 80
