name: CI - Build & Push Docker Image

on:
  push:
    branches:
      - main
  workflow_dispatch:  # manual trigger

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build Docker Image
      run: |
        docker build -t shadymo/shadymh10:${{ github.sha }} ./helloapp

    - name: Push Image
      run: |
        docker push shadymo/shadymh10:${{ github.sha }}

    - name: Update Kustomization image tag
      run: |
        sed -i "s/newTag:.*/newTag: ${{ github.sha }}/" k8s/kustomization.yaml
    - name: Commit updated manifest
      run: |
       git config --global user.name "github-actions"
       git config --global user.email "github-actions@github.com"
       git add k8s/kustomization.yaml
       git commit -m "Update image tag to ${{ github.sha }}" || echo "No changes to commit"
       git push https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/shadymh10/ci-cd-pipeline.git HEAD:main

